<%= render('layouts/errors', :object => @sentence) %>

<%= form_for [@story, @sentence] do |f| %>
  <% r = Random.rand(1...16) %>
  <div class="inspiration text-center">
    <h3>Inspiration</h3>
    <%= image_tag(r.to_s + ".png") %>
  </div>
  <div class="author">
    <%= f.label :author %>
    <%= f.text_field :author, class: "text-input" %>
  </div>
  <div class="content">
    <%= f.label :content %>
    <%= f.text_area :content, rows: "6", class: "text-input" %>
  </div>
  <%= f.hidden_field :image_id, :value => r %>
  <%= f.submit 'Add Sentence', :class => 'btn btn-lg btn-default' %>
<% end %>
